<?xml version='1.0' encoding='UTF-8'?>
<events>
  <event>
    <date>2014-03-18T16:00:00Z</date>
    <duration>30</duration>
    <summary>XSF Editor Team Meeting</summary>
    <description>XSF Editor Team meetings are open to the public, visit xmpp:editor@muc.xmpp.org?join to enter the room.</description>
    <alarm></alarm>
  </event>
</events>
