<?xml version='1.0' encoding='UTF-8'?>
<events>
<event>
  <date>2010-03-10T18:00:00</date>
  <duration>30</duration>
  <summary>XSF Board Meeting</summary>
  <description>The XSF Board Meeting starts soon. Click xmpp:xsf@muc.ietf.org?join to participate.</description>
  <alarm></alarm>
</event>
</events>
