<?xml version='1.0' encoding='UTF-8'?>
<events>
  <event>
    <date>2014-04-02T15:30:00Z</date>
    <duration>60</duration>
    <summary>XSF Board Meeting</summary>
    <description>The meeting is open to all, click xmpp:xsf@muc.xmpp.org?join to participate.</description>
    <alarm></alarm>
  </event>
  <event>
    <date>2014-04-09T15:30:00Z</date>
    <duration>60</duration>
    <summary>XSF Board Meeting</summary>
    <description>The meeting is open to all, click xmpp:xsf@muc.xmpp.org?join to participate.</description>
    <alarm></alarm>
  </event>
  <event>
    <date>2014-04-16T15:30:00Z</date>
    <duration>60</duration>
    <summary>XSF Board Meeting</summary>
    <description>The meeting is open to all, click xmpp:xsf@muc.xmpp.org?join to participate.</description>
    <alarm></alarm>
  </event>
  <event>
    <date>2014-04-23T15:30:00Z</date>
    <duration>60</duration>
    <summary>XSF Board Meeting</summary>
    <description>The meeting is open to all, click xmpp:xsf@muc.xmpp.org?join to participate.</description>
    <alarm></alarm>
  </event>
  <event>
    <date>2014-04-30T15:30:00Z</date>
    <duration>60</duration>
    <summary>XSF Board Meeting</summary>
    <description>The meeting is open to all, click xmpp:xsf@muc.xmpp.org?join to participate.</description>
    <alarm></alarm>
  </event>
</events>
