<?xml version='1.0' encoding='UTF-8'?>
<events>
<event>
  <date>2009-12-23T18:00:00</date>
  <duration>60</duration>
  <summary>XSF Board Meeting</summary>
  <description></description>
</event>
<event>
  <date>2010-01-06T18:00:00</date>
  <duration>60</duration>
  <summary>Annual Meeting</summary>
  <description>This is the official Annual Meeting of the XSF Board of Directors</description>
</event>
</events>
