<?xml version='1.0' encoding='UTF-8'?>
<events>
	<event>
		<date>2010-02-17T20:00:00</date>
		<duration>60</duration>
		<summary>XSF Member Meeting</summary>
		<url>xsf@muc.xmpp.org</url>
	</event>
	<event>
		<date>2010-02-05T00:00:00</date>
		<duration>5760</duration>
		<summary>8th XMPP Summit and FOSDEM</summary>
		<url>http://xmpp.org/summit/summit8.shtml</url>
	</event>
</events>