<?xml version='1.0' encoding='UTF-8'?>
<events>
  <event>
    <date>2013-10-29T19:00:00Z</date>
    <duration>30</duration>
    <summary>Yearly Meeting with Vote on Board and Council Members</summary>
    <description>Click xmpp:xsf@muc.xmpp.org?join to enter the room.</description>
    <alarm></alarm>
  </event>
  <event>
    <date>2014-01-30T9:00:00Z</date>
    <duration>420</duration>
    <summary>15th XMPP Summit in Brussels, Belgium</summary>
    <description>Click http://wiki.xmpp.org/web/Summit_15 for more info.</description>
  </event>
  <event>
    <date>2014-01-31T9:00:00Z</date>
    <duration>420</duration>
    <summary>15th XMPP Summit in Brussels, Belgium</summary>
    <description>Click http://wiki.xmpp.org/web/Summit_15 for more info.</description>
  </event>
</events>
