<?xml version='1.0' encoding='UTF-8'?>
<events>
  <event>
    <date>2012-01-10T20:00:00Z</date>
    <duration>30</duration>
    <summary>Quarterly Meeting and Membership Vote</summary>
    <description>Click xmpp:xsf@muc.xmpp.org?join to enter the room.</description>
    <alarm></alarm>
  </event>
</events>
