<?xml version='1.0' encoding='UTF-8'?>
<events>
  <event>
    <date>2013-04-03T15:00:00Z</date>
    <duration>30</duration>
    <summary>XMPP Council Meeting</summary>
    <description>Council meetings are open to the public, visit xmpp:council@muc.xmpp.org?join to enter the room.</description>
    <alarm></alarm>
  </event>
</events>
